* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', serif;
}

body {
  background: #faf3e0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.back-link{
  color:rgb(156, 94, 57);
  position: absolute;
  top:30px;
}

/* CONTAINER */
.auth-container {
  background: #fefcf7;
  padding: 30px;
  width: 400px;
  border-radius: 20px;
}

/* TITLE */
.auth-container h1 {
  text-align: center;
  margin-bottom: 5px;
  color:#3a2111;
}

.auth-container p {
  text-align: center;
  color: rgb(156, 94, 57);
  margin-bottom: 20px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-size: 14px;
}

input {
  padding: 10px;
  border: 1px solid #8b5e3c;
  border-radius: 6px;
  outline: none;
}

/* BUTTON */
button {
  margin-top: 20px;
  padding: 12px;
  background:#3c2415;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #27170d ;
}

/* SWITCH LINK */
.switch {
  margin-top: 15px;
  font-size: 14px;
}

.switch a {
  color:#3c2415;
  text-decoration: none;
  font-weight: 500;
}
